.search-popover{
    padding:0 !important;
    border:none !important;
    /*border-width: 0 !important;*/
    /*overflow: hidden;*/
    overflow: visible;
    background:transparent;
    border-radius: 4vh !important;
}

.el-popover__title{
    display:none;
}