.item-img{
    /*width:90px;*/
    /*height: 90px;*/
    /*border-radius: 50%;*/
    cursor: pointer;
    background-color: white;
    opacity: 0.9;
}
.item-img-del{
    /*width:90px;*/
    /*height: 90px;*/
    /*border-radius: 50%;*/
    background: #fff;
    opacity: 0.5;
    box-shadow: #ccc 0 0 2px;
}

.displayNone{
    display: none;
}
.ghost .item-img{
    display:none !important;
    /*background: rgb(129, 168, 187);*/
}
.ghost .item-img-del{
    display: inline-block;
}
.ghost .item-name{
    opacity: 0 !important;
}

.swiper-pagination {
    position: fixed !important;
    width: 100vw !important;
    text-align: center !important;
    font-family: PingFangSC-Regular;
    color: #fff;
    letter-spacing: 0;
    left: 0 !important;
    bottom: 10vh !important;
}
.swiper-pagination-bullet {
  background: #fff !important;
  opacity: 0.8;
  height: 8px !important;
  border-radius: 8px !important;
  width: 8px !important;
  margin: 0 5px !important;
  transition: all 0.2s;
}
.swiper-pagination-bullet-active {
      /* width: 30px; */
    }